<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="todo-wrapper">
		<h1 class="todo__title">Todo List</h1>
		<form id="addTask">
			<div class="todo__text-area">
				<input class="todo__text-form" type="text" id="title">
				<input class="todo__add-btn" type="submit" value="add">
			</div>
			
			<span id="error" class="todo__error-text"></span>
		</form>

		<div id="tasks"></div>

		<p class="todo__other-tasks">残り：<span id="count"></span></p>

		<script type="text/template" id="task-template">
			<input type="checkbox" class="toggle" <%= completed ? 'checked': ''%>>
			<span class="<%= completed ? 'completed' : ''%>">
				<%- title %>
			</span>
			<span class="delete"><i class="ico_close"></i></span>
		</script>
	</div>
	
<script src="js/underscore.js"></script>
<script src="js/jquery.js"></script>
<script src="js/backbone.js"></script>
<script src="js/backbone.localStorage-min.js"></script>
<script src="js/script.js"></script>
</body>
</html>